#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "agewasm"
name = "agewasm"
description.en = "Online Age Key Generator Encryption Decryption Tool"
description.fr = "Générateur de clés Age en ligne Outil de décryptage de cryptage"

version = "1.1.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "MIT"
website = "https://age-wasm.ey.r.appspot.com/"
code = "https://github.com/MarinX/agewasm"


[integration]
yunohost = ">= 11.2.30"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/agewasm"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/MarinX/agewasm/releases/download/v1.1.0/agewasm.zip"
    sha256 = "c0e3f67b4414e2d63758e8fdaaf0e57c8161114209dcf783817cfc73b4a74624"
    format = "zip"
    #autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"
